<h1>Home#index</h1>
 <h1>Appt</h1>
    <table class="ui celled table">
      <thead>
        <tr>
          <th>Doctor</th>
          <th>Patient</th>
          <th>Date</th>
          <th>Reason</th>
          <th>planned treatment</th>
        </tr>
      </thead>
<div class="ui three item menu">
  <a class="active item">Editorials</a>
  <a class="item">Reviews</a>
  <a class="item">Upcoming Events</a>
</div>