// Place all the styles related to the doctors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.v-box{
    box-shadow: 1px 1px 2px 2px #dddddd;
    border: 1px #d3d3d3;
    text-align: center;
   
}
