<div class="ui three item menu">
  <%= link_to 'Home', doctors_path, class: "item"%>
  <%= link_to 'Add Doctor', new_doctor_path, class: "item"%>
  <%= link_to 'Add Patient', new_patient_path, class: "item"%>
</div>